<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" ng-app="iwc-demo">
<head>
    <title>IWC</title>
    <link rel="icon" href="favicon.ico?v=2"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../css/app.css" th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>
</head>
<body ng-controller="MainController" ng-init="initMethod()">

<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>

<select ng-model="selectedAuthority" ng-change="getEstablishments()">
    <option ng-repeat="x in authorities" value="{{x.localAuthorityId}}">{{x.name}}</option>
</select>

<highchart config="chartConfig" style="height: 600px;"></highchart>


<table>
    <tr ng-repeat="x in tableData">
        <td>{{ x.name }}</td>
        <td>{{ x.y }}</td>
    </tr>
</table>

<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/angularjs/1.2.18/angular.min.js}"></script>
<script th:src="@{/webjars/angular-ui-router/1.0.0-alpha.5/angular-ui-router.min.js}"></script>
<script th:src="@{/webjars/highcharts/3.0.10/highcharts.js}"></script>
<script th:src="@{/webjars/highcharts-ng/0.0.11/highcharts-ng.min.js}"></script>
<script th:src="@{/webjars/spin.js/2.3.2/spin.min.js}"></script>
<script th:src="@{/webjars/angular-spinner/0.8.1/angular-spinner.min.js}"></script>

<script type="text/javascript" src="../controllers/MainController.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
</body>
</html>